body{
  margin: 0;
}

header{ /* TOPページのheader画像 */
  background-image: url(https://static.retrip.jp/article/85049/images/850490e59aced-93ad-432b-9ec8-e25d2c0326d6_m.jpg);
  background-size: cover;
  height: 850px;
  width: auto;
}

nav{ /* 各ナビ */
  background-color: white;
  display: flex;
  justify-content: space-around;
}

a{  /* aタグの下線を全て消去 */
  text-decoration: none;
}

h2,h3{
  text-align: center;
}

.services{  /* サービス一覧の全てを囲むdiv */
  display: flex;
}

.service_content{  /* 各サービスを囲むfieldset */
  width: 500px;
}

.service_img{  /* 各サービスの画像 */
  width: 320px; 
  height: auto;
  display: flex;
}

h1{
  color: white;
  position: absolute;
  top: 100px;
  left: 400px;
  font-size: 80px;
}

